div { 
  background:#CCC;
  margin:8px;
  padding:5px;
  width:100%;   }
img {
  width:300px;
  height:auto;
  display:block;
  border-radius:50%;
  box-shadow:5px 5px #424242;
//  padding:10px;  //colchon para el borde
//  border:5px solid #424242;  //sustituye la sombra
}
.menu {
  width:100%;
  background:#424242;
  list-style:none;
  margin:0px;
  padding:0px;  }
.menu li {
  display:inline-block;  }
.menu li a {
  display:inline-block;
  color:#FFF;
  padding: 10px 20px;  }
.menu li a:hover {
  background:#CCC;
  color:#000;  }  
//Corregir segun lo que se muestra en la imagen de la tabla con sus estilos//
/*
ta le {
  bo der:1px solid #0A0A2A;  //Observe y modifique sus propios colores!
  bor er-col apse:collapse;
  width:75 px;  }
tab e td {
  border:1px solid #0A0A2A;
  pad ing:10px;  }
table td: over {
  back round:#0A0A2A;
  color:#FFF;  }
table tr:ho er {
  backgroun :#01DFD7;  }		*/

//quite comentarios del /*   y   */ 